*{
	margin:0;
	padding:0
}
html {
	height:100%
}
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"Liberation Sans";
	src:url("../fonts/LiberationSans-Regular.eot?") format("eot"),
	url("../fonts/LiberationSans-Regular.woff") format("woff"),
	url("../fonts/LiberationSans-Regular.ttf") format("truetype"),
	url("../fonts/LiberationSans-Regular.svg#LiberationSans") format("svg");
	font-weight:normal;font-style:normal;}
/*Font declaration*/
@font-face {
    font-family: 'HelveticaNeueLTStdLt';
    src: url('../fonts/HelveticaNeueLTStdLt.eot');
    src: url('../fonts/HelveticaNeueLTStdLt.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStdLt.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTStdLt.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStdLt.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTStdLt.svg#HelveticaNeueLTStdLt') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('../fonts/HelveticaNeueUltraLight.eot');
    src: url('../fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueUltraLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('../fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}
@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../fonts/helveticaneuemedium.eot');
    src: url('../fonts/helveticaneuemedium.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuemedium.woff2') format('woff2'),
         url('../fonts/helveticaneuemedium.woff') format('woff'),
         url('../fonts/helveticaneuemedium.ttf') format('truetype'),
         url('../fonts/helveticaneuemedium.svg#helveticaneuemedium') format('svg');
}
body.pc {
	font-size:12px;
	line-height:18px;
	font-family:"Liberation Sans", Helvetica, sans-serif;
	position:relative;
	color:#454545;
	height:100%;
}
body.mac {
	font-size:12px;
	line-height:18px;
	font-family: 'HelveticaNeueLTStdLt', Helvetica, sans-serif;
	position:relative;
	color:#575757;
	height:100%
}
h1, h2, h3, h4, h5, h6 {
	font-family:"Liberation Sans";
	letter-spacing:1px;
	font-weight:normal;font-style:normal;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:22px;
}
h3{
	font-size:20px;
}
h4 {
	font-size:18px;
}
h5 {
	font-size:16px;
}
h6 {
	font-size:12px;
}

/*.container-fluid{
    background: url("../img/photo.jpg") no-repeat fixed center;
    background-size: 100%;
}*/

/*User Login Page*/
.index-content{
    height: 100%;
    width: 100%;
    overflow:hidden;
    
    background:url(../img/photo.jpg) no-repeat center top fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	padding:130px 0 0;
	margin:0;
	
}
.layer {
    padding-top: 130px;
    background-color: rgba(255, 92, 51, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.user-login-panel{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    background-color: white;
    height: 370px;
    width: 280px;
    border-top: 4px solid red;
    -webkit-box-shadow: 7px 9px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 23px 0px rgba(0,0,0,0.75);
}
.logo-img { 
    text-align: center;
    /*border: 1px solid blue;*/
    height: 80px;
    width: 100%;
}
.logo-img img{
    height: 60px;
    width: 180px;
}
.login-error{
    margin: 0 auto;
    /*border: 1px solid green;*/
    height: auto;
    width: 75%;
    color: red;
    font-weight: 300;
    font-size: 12px;
    font-family: sans-serif;
}
.input{
    padding: 5px 0;
    /*border: 1px solid green;*/
    height: auto;
    width: 100%;
    color: #737373;
    font-weight: 300;
    font-size: 12px;
    font-family: sans-serif;
}
.input-content{
    margin: 0 auto;
    /*border: 1px solid red;*/
    height: auto;
    width: 75%;
}
.input-content input[type="text"], input[type="password"]{
    height: 40px;
    width: 100%;
}
.activate-btn{
    height: 80px;
    width: 100%;
}
.input-content button{
    text-transform: uppercase;
    border: 0;
    outline: 0;
    background-color: #ff751a;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
    height: 40px;
    width: 100%;
    -webkit-transition-duration: 0.2s !important;
	-moz-transition-duration: 0.3s !important;
	-o-transition-duration: 0.3s !important;
	transition-duration: 0.3s !important;
}
.input-content button:hover{
    background-color: #F16426;
    -webkit-transition-duration: 0.2s !important;
	-moz-transition-duration: 0.2s !important;
	-o-transition-duration: 0.2s !important;
	transition-duration: 0.2s !important;
}
/* SSO Main Content */
.admin-content {
	background:#EBEBEB;
}
.dashboard-wrap {
	width:100%;overflow:hidden;text-align:center;margin-top: 50px;
}
.dashboard-nav {
	 list-style:none;display:inline-block;margin-top:30px;
	
	 width:80%;
}
.dashboard-nav li {
	float:left;
	display:inline-block;
	width:23%;
	 height:195px !important;
	 margin:0.5% 1%;
}
body.pc .dashboard-nav li {
	height:195px !important;
}
.dashboard-nav li a {
	 border:1px solid #ccc;
	 background:#fff;
	 width:100%;
	 height:100%;
	 display:inline-block;
	 padding:20px 20px 40px;
	 text-align:center !important;
}
.dashboard-nav li a:hover {
	text-decoration:none;
	cursor:pointer
}
.dashboard-nav li a .menu-icon {
	margin-top:30px;
	width:32px !important;
	height:32px !important;
}
.dashboard-nav li a .menu-name {
	display:block;
	font-size:13px;
	color:#454545;
	font-weight:bold;
	margin-top:10px;
}
.dashboard-nav li a .menu-desc {
	display:block;
	font-size:11px;
	color:#454545;
	margin-top:10px;
	line-height:14px;
}
.holder a {
	border:1px solid #979797;
	background:none !important;
	height:18px;
	width:18px;
}
.holder a.jp-current {
	background:#EB5856 !important;
	border:none;
}
/*media queries*/
@media only screen and (min-width: 1200px){
	.dashboard-nav {
		
	}
}
@media only screen and (max-width: 1200px){
	.dashboard-nav {
		margin:0;padding:20px 20px 0;
		 width:100%;
		 height:640px;
	}
}
@media only screen and (max-width: 920px){
	.dashboard-nav {
		  
	}
	.dashboard-nav li {
		width:30%;
	}
}
@media only screen and (max-width: 768px){
	.dashboard-nav {
		padding:0px;margin:0;padding:20px; 
		
	}
	
	.dashboard-nav li {
		width:48%;
		 
	}
}

@media only screen and (max-width: 480px){
	.dashboard-nav {
		 padding:0px;margin:0;padding:20px;
		
	}
	
	.dashboard-nav li {
		width:100%;
		margin:0 0 10px !important; 
	}
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
    background-color:transparent;
}
.holder{
    /*display:none;*/
}

.btn-danger {
	/* Rectangle 105: */
	background: #F16426;
	border: 1px solid #DE4400;
	box-shadow: 0px 2px 4px 0px rgba(233,233,233,0.25);
	border-radius: 2px;
	/* Complete: */
	font-weight:600;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
}
