<div class="index-content">

    <div class="layer">
 
        <form action="<?= BASE_URI ?>login" method="post" autocomplete="off">
            <div class="user-login-panel">

                <div class="logo-img"><img src="<?= BASE_URI ?>/img/logo.png"></div>
                <div class="login-error"><?= $error_prompt ?></div>
                <div class="input">
                    <div class="input-content">
                        <label>Username</label>
                    </div>
                    <div class="input-content">
                        <input type="text" name="username" id="username" size="50">
                    </div>
                </div>
                <div class="input">
                    <div class="input-content">
                        <label>Password</label>
                    </div>
                    <div class="input-content">
                        <input type="password" name="password" id="user-password" size="50">
                        <input type="hidden" name="ipaddress" id="ipaddress" >
                    </div>
                </div>
                <div style="height:10px;"></div>
                <div class="input">
                    <div class="input-content">
                        <button id="loginBtn" class="btn-danger">LOG IN</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
       
    $( document ).ready(function() {
        window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
        var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};   
 
        pc.createDataChannel("");    //create a bogus data channel
        pc.createOffer(pc.setLocalDescription.bind(pc), noop);    // create offer and set local description
        pc.onicecandidate = function(ice){  //listen for candidate events
                if(!ice || !ice.candidate || !ice.candidate.candidate)  return;
                var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1];
                console.log('my IP: ', myIP); 

                var url = "branch/login";
                    $('#ipaddress').val(myIP);
                   
                        pc.onicecandidate = noop;
                };       

    });         
</script>
