<!DOCTYPE html>
<html>
    <head>
        <script src="<?=BASE_URI;?>js/jquery.js"></script>
        <script src="<?=BASE_URI;?>js/script.js"></script>      
        
        <link rel="stylesheet" href="<?=BASE_URI;?>css/bootstrap.min.css">
        <link href="<?=BASE_URI;?>css/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="<?=BASE_URI;?>css/styles.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MMPI-SSO</title>
        <link rel="stylesheet" href="<?=BASE_URI;?>css/bootstrap.min.css">
        
        
        <!--jpages paginator css -->
	  <link rel="stylesheet" href="<?=BASE_URI;?>css/jPages.css">
	  <link rel="stylesheet" href="<?=BASE_URI;?>css/animate.css">
	  <link rel="stylesheet" href="<?=BASE_URI;?>css/github.css">
        
        <link href="<?=BASE_URI;?>css/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="../favicon.ico">
        
       
        
         <!-- Note: Buggy, For replacement 
		<link rel="stylesheet" type="text/css" href="http://tympanus.net/Development/ThumbnailGridAnimations/css/normalize.css" />
		<link href="http://tympanus.net/Development/ThumbnailGridAnimations/css/demo.css">
		<link rel="stylesheet" type="text/css" href="<?=BASE_URI;?>css/component.css" />
		<script src="http://tympanus.net/Development/ThumbnailGridAnimations/js/modernizr.custom.js"></script>
		<!-- Note: Buggy, For replacement -->
		
        <link href="<?=BASE_URI;?>css/styles.css" rel="stylesheet" type="text/css">
        <style type="text/css">
  .holder {
    margin: 15px 0;
  }
  .holder a {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    padding: 4px;
    border-radius: 50%;
    background-color: #D4EE5E;
  }
  .holder a:hover {
    background-color: #222;
    color: #fff;
  }
  .holder a.jp-previous { margin-right: 15px; }
  .holder a.jp-next { margin-left: 15px; }
  .holder a.jp-current, a.jp-current:hover {
    color: #FF4242;
    font-weight: bold;
  }
  .holder a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
  }
  .holder a.jp-current, a.jp-current:hover,
  .holder a.jp-disabled, a.jp-disabled:hover {
    cursor: default;
    background-color: #FF4242;
  }
  .holder span { margin: 0 5px; }
  </style>
    </head>
    <body class="<?php if(@$page_active != 'login') echo 'admin-content'; ?>">

        <?php $this->partial($page_content); ?> 
        
        <script src="<?=BASE_URI;?>js/jquery.js"></script>
        <script src="<?=BASE_URI;?>js/bootstrap.min.js"></script> 
        <script src="<?=BASE_URI;?>js/jquery-ui.min.js"></script>
       
        <!-- Note: Buggy, For replacement 
        <script src="http://tympanus.net/Development/ThumbnailGridAnimations/js/classie.js"></script>
		<script src="http://tympanus.net/Development/ThumbnailGridAnimations/js/thumbnailGridEffects.js"></script>
		<!-- Note: Buggy, For replacement -->
		 <!-- jpages paginator-->
		  <script type="text/javascript" src="js/jPages.min.js"></script>
		  <script type="text/javascript" src="js/highlight.pack.js"></script>
		  <script type="text/javascript" src="js/tabifier.js"></script>
		  <script type="text/javascript" src="js/js.js"></script>
		  
        <script src="<?=BASE_URI;?>js/script.js"></script> 
        <script>
        $(document).ready(function(){
        	if (navigator.userAgent.indexOf('Mac OS X') != -1) {
        		$("body").addClass("mac");
			} else {
			  	$("body").addClass("pc");
			}
        });
        $(window).bind('resizeEnd', function() {
		    //do something, window hasn't changed size in 500ms
		    resize1();
		});
		
		 $(window).resize(function() {
		        if(this.resizeTO) clearTimeout(this.resizeTO);
		        this.resizeTO = setTimeout(function() {
		            $(this).trigger('resizeEnd');
		        }, 500);
		    });

        
        
        
        $(document).ready(resize1);
		//$(window).resize(resize1);
        function resize1(){
        	//$("div.holder").jPages("destroy");
        	var docWidth = $(window).width();
	    	
	    	if(docWidth > 920 ){
	    		jPages(12);
	    	} else 
	    	if(docWidth > 768){
	    		jPages(9);
	    	} else {
	    		jPages(6);
	    	} 
        }
	       function jPages(items){
	       		
	    		$("div.holder").jPages({
				    containerID : "itemContainer",
				    first       : false,
				    previous    : false,
				    next        : false,
				    last        : false,
				    perPage    : items,
				    links       : "blank",
				    animation:"none",
				    delay: 	0
				    
				  });
		       
	    	}
        </script>   
    </body>
</html>
